main{
  h2{
    margin-bottom: 45px;
    text-align: center;
    font-size: 30px;
  }
  .top-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    .one-inf{
      margin-bottom: 25px;
      h5{
        color: #333333;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 25px;
      }
      .link{
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        margin-bottom: 15px;
        img{
          margin-right: 10px;
          max-width: 18px;
        }
        i{
          color: #3a5da8;
          margin-right: 10px;
          font-size: 18px;
          margin-top: 5px;
        }
        a{
          color: #333333;
          font-size: 16px;
        }
      }
    }
  }
  .map{
    height: 400px;
    margin-bottom: 120px;
    width: 100%;
  }

  .often-questions{
    h2{
      text-align: left;
      margin-bottom: 25px;
      font-size: 25px;
    }
    .one-question{
      margin-bottom: 40px;
      .title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        z-index: 2;
        .circle{
          position: relative;
          max-width: 49px;
          min-width: 49px;
          height: 49px;
          background: #8d9fc6;
          transition: 0.5s;
          margin-right: 15px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          span{
            color: #ffffff;
            font-size: 18px;
            transition: 0.5s;
            display: block;
          }
          .minus{
            display: none;
          }
          .plus{
            display: block;
          }
        }
        h5{
          color: #000000;
          font-size: 17px;
          font-weight: 700;
        }
      }
      .answer{
        display: none;
        p{
          color: #000000;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          &:not(:last-of-type){
            margin-bottom: 10px;
          }
        }
      }
    }
    .open-quest{
      .title{
        .circle{
          background: #3a5da8;
          .minus{
            display: block;
          }
          .plus{
            display: none;
          }
        }
      }
    }
  }
}


@media (min-width: 768px) {
  main{
    .often-questions{
      h2{
        margin-bottom: 65px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 1024px) {
  main{
    h2{
      font-size: 52px;
      margin-bottom: 65px;
    }
    .often-questions{
      h2{
        font-size: 40px;
      }
      .one-question{
        .title{
          .circle{
            margin-right: 40px;
          }
          h5{
            font-size: 19px;
          }
        }
        .answer{
          padding-left: 95px;
          p{
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  main{
    padding-bottom: 115px;
    .top-info{
      .one-inf{
        max-width: 335px;
        margin-bottom: 75px;
      }
    }
    .map{
      height: 545px;
      margin-bottom: 105px;
    }
  }
}