main{
  padding-bottom: 0;
}
.slick-arrow{
  width: 65px;
  height: 65px;
  background-color: #3a5da8;
  opacity: 0.5;
  border-radius: 50%;
  position: relative;
  border: none;
  transition: 0.5s;
  z-index: 10;
  &:before{
      content: '';
      width: 20px;
      height: 15px;
      background: url('../img/arrow1.png') no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
  }
  &:hover{
    opacity: 1;
  }
}
.slick-dots{
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10%;
  justify-content: center;
  li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px; 
    height: 21px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: 0.65s;   
    margin: 0 10px;
    button{
      width: 11px;
      height: 11px;
      background-color: #3a5da8;
      border-radius: 50%;
      border: none;
      transition: 0.5s;
    }
  }
  .slick-active{
    border: 1px solid #e94249;
    button{
      width: 9px;
      height: 9px;
      background-color: #e94249;
    }
  }
}
.all{
  margin-top: -35px;
  margin-bottom: 70px;
}
.top-banner{
  background: url('../img/banner2m.jpg') no-repeat 60% 20%;
  background-size: cover;
  .slider-banner{
    .slick-arrow{
      position: absolute;
      bottom: 20%;
    }
    .slick-next{
      right: 0;
      transform: rotate(180deg);
    }
    .slick-prev{
      left: 0;
    }
    .slide-info{
      padding-top: 120px;
      padding-bottom: 195px;
      h3{
        margin-bottom: 25px;
        color: #333333;
        font-size: 26px;
        font-weight: 700;
      }
      h5{
        color: #333333;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 25px;
      }
    }
  } 
}
.work-with-him{
  background: url('../img/back-work-with.jpg') no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 345px;
  overflow: hidden;
  position: relative;
  margin-bottom: 65px;
  &:after{
    z-index: 1;
    content: '';
    position: absolute;
    left: -0%;
    bottom: 0;
    background: url('../img/men-mob.png') no-repeat;
    background-size: contain !important;
    width: 100%;
    height: 400px;
  }
  h2{
    margin-bottom: 40px;
  }
  .six-category{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    .one-category{
      position: relative;
      max-width: 125px;
      width:100%;
      &:before{
        content: '';
        width: 11px;
        height: 12px;
        background-color: #e94249;
        position: absolute;
        top: 45px;
        left: 115px;
        border-radius: 50%;
      }
      &:nth-child(even){
        margin-top: 50px;
      }
      .top{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: 20px;
        position: relative;
        &:before{
          content: '';
          width: 52px;
          height: 52px;
          background-color: #dfdfdf;
          position: absolute;
          z-index: 1;
          border-radius: 50%;
          left: 0;
          right: 15%;
          bottom: 0;
          margin: auto;
        }
        .number{
          font-size: 36px;
          color: #dfdfdf;
          font-weight: 700;
          z-index: 2;
        }
        img{
          position: relative;
          z-index: 2;
        }
      }
      p{
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }
}
.first{
  margin-bottom: 80px;
}
.saved-money-time{
  margin-bottom: 65px;
  h2{
    margin-bottom: 50px;
  }
  .eight-blocks{
    position: relative;
    &:before{
      width: 100%;
      height: 100%;
      z-index: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 80px;
      margin: auto;
      content: '';
      background: #efefef;
    }
    .all-bl8{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      .one-block{
        position: relative;
        width: 140px;
        min-height: 210px;
        box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
        border-radius: 20px;
        background-color: #ffffff;
        padding-top: 40px;
        margin-bottom: 50px;
        .numb{
          width: 38px;
          height: 38px;
          line-height: 38px;
          background: #3a5da8;
          border-radius: 50%;
          text-align: center;
          color: #ffffff;
          font-size: 10px;
          font-weight: 700;
          position: absolute;
          top: -19px;
          left: 5px;
        }
        .icon{
          margin: 0 auto;
          position: relative;
          margin-bottom: 40px;
          max-width: 82px;
          width: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 30px;
          &:before{
            z-index: 1;
            width: 42px;
            height: 42px;
            background-color: #dfdfdf;
            border-radius: 50%;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
          }
          &:after{
            position: absolute;
            right: 0;
            content: '';
            z-index: 1;
            width: 10px;
            height: 10px;
            background-color: #e94249;
            bottom: 10px;
            border-radius: 50%;
          }
          i{
            font-size: 45px;
            color: #3a5da8;
            position: relative;
            z-index: 2;
            margin-bottom: 10px;
          }
          img{
            max-width: 46px;
            width: 100%;
            position: relative;
            z-index: 2;
          }
        }
        h6{
          text-align: center;
          color: #383838;
          font-size: 15px;
          font-weight: 400;
          padding: 0 15px;
          word-wrap: break-word;
        }
      }
    }
  }
}
.last{
  margin-top: 0;
}
.our-clients{
  margin-bottom: 65px;
  h2{
    margin-bottom: 25px;
  }
  .slider-clients{
    position: relative;
    padding-bottom: 95px;
    .slick-arrow{
      bottom: 0;
      position: absolute;
    }
    .slick-next{
      transform: rotate(180deg);
      left: 60%;
    }
    .slick-prev{
      left: 20%;
    }
  }
  .one-slide{
    .img-text{
      padding: 0 5px;
      div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        min-height: 70px;
        max-height: 70px;
        img{
          display: block;
          margin: 0 auto;
        }
      }
      p{
        text-align: center;
      }
    }
  }
}
.how-we-work{
  margin-bottom: 55px;
  h2{
    margin-bottom: 25px;
  }
  .desc-view{
    display: none;
  }
  .mob-view{
    .block-logo{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 45px;
      width: 237px;
      height: 79px;
      box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
      border-radius: 29px;
      border: 2px solid #3a5da8;
      position: relative;
      img{
        max-width: 140px;
        width: 100%;
      }
      &:before, &:after{
        content: '';
        position: absolute;
        top: 79px;
        width: 12px;
        height: 153px;
        background: url('../img/line1.png') no-repeat 50%;
        background-size: contain;
        z-index: 0;
      }
      &:before{
        left: 29px;
      }
      &:after{
        right: 29px;
      }
    }
    .block-man{
      position: relative;
      margin: 0 auto 35px;
      width: 120px;
      height: 74px;
      box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
      border-radius: 29px;
      background-image: linear-gradient(to right, #3a5da8 0%, #3a5da8 5%, #8d9fc6 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      &:before, &:after{
        content: '';
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        z-index: 0;
      }
      &:before{
        width: 12px;
        height: 45px;
        bottom: 74px;
        background: url('../img/line-blue.png') no-repeat 50%;
        background-size: contain;
      }
      &:after{
        background: url('../img/dashed-line.png') no-repeat 50%;
        background-size: contain;
        top: 74px;
        width: 12px;
        height: 373px;
      }
    }
    .two-bloc-text{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 45px;
      .one-text{
        width: 128px;
        height: 63px;
        box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
        border-radius: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
          text-align: center;
          color: #333333;
          font-size: 11px;
          font-weight: 400;
        }
      }
      .left{
        position: relative;
        &:before{
          content: '';
          position: absolute;
          top: 63px;
          left: 0;
          right: 0;
          margin: auto;
          background: url('../img/line2.png') no-repeat 50%;
          background-size: contain;
          width: 12px;
          height: 45px;
          z-index: 0;
        }
      }
      .right{
        position: relative;
        &:before{
          content: '';
          position: absolute;
          top: 63px;
          left: 0;
          right: 0;
          margin: auto;
          background: url('../img/line3.png') no-repeat 50%;
          background-size: contain;
          width: 12px;
          height: 173px;
          z-index: 0;
        }
      }
    }
    .left-f-text{
      box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
      width: 128px;
      height: 73px;
      border-radius: 21px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      margin-bottom: 55px;
        &:before{
          content: '';
          position: absolute;
          top: 73px;
          left: 0;
          right: 0;
          margin: auto;
          background: url('../img/line2.png') no-repeat 50%;
          background-size: contain;
          width: 12px;
          height: 55px;
          z-index: 0;
        }
      p{
        text-align: center;
        color: #333333;
        font-size: 11px;
        font-weight: 400;
      }
    }
    .two-blue-img{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 59px;
      .one-blue-img{
        margin:  0 10px;
        width: 107px;
        height: 43px;
        box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
        border-radius: 21px;
        background-image: linear-gradient(to right, #3a5da8 0%, #3a5da8 5%, #8d9fc6 100%);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .right{
        position: relative;
        &:before{
          content: '';
          position: absolute;
          top:43px;
          left: 0;
          right: 10px;
          margin: auto;
          background: url('../img/line4.png') no-repeat 50%;
          background-size: contain;
          width: 25px;
          height: 84px;
          z-index: 0;
        }
      }
    }
    .one-center{
      margin: 0 auto;
      width: 118px;
      height: 43px;
      box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
      border-radius: 21px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        text-align: center;
        color: #333333;
        font-size: 11px;
        font-weight: 400;
      }
    }
  }
}

@media (min-width: 405px) {
  .top-banner{
    .slider-banner{
      .slide-info{
        padding-top: 200px;
      }
    }
  }
  .work-with-him{
    .six-category{
      justify-content: space-around;
      .one-category{
        margin-right: 30px;
      }
    }
  }
}

@media (min-width: 425px) {
  .how-we-work{
    .mob-view{
      .block-logo{
        width: 300px;
      }
      .two-bloc-text{
        margin: 0 auto 45px;
        max-width: 320px;
        width: 100%;
      }
      .oned{
        margin: 0 auto;
        max-width: 320px;
        width: 100%;
      }
      .two-blue-img{
        margin: 0 auto 59px;
        max-width: 320px;
        width: 100%;
      }
    }
  }
}

@media (min-width: 495px) {
  .top-banner{
    background-position: 60% 15%;
    .slider-banner{
      .slide-info{
        padding-top: 270px;
      }
    }
  }
  .work-with-him{
    padding-bottom: 10px;
    &:after{
      z-index: 0;
    }
    .six-category{
      justify-content: space-between;
      max-width: 60%;
      margin-left: auto;
      position: relative;
      z-index: 2;
      .one-category{
        margin-right: 0;
      }
    }
  }
}


@media (min-width: 655px){
  .work-with-him{
    padding-bottom: 40px;
    &:after{
      height: 520px;
    }
    .six-category{
      max-width: 65%;
      .one-category{
        &:nth-child(even){
          margin-top: 0;
        }
        &:nth-child(2){
          margin-top: 55px;
        }
        &:nth-child(5){
          margin-top: 55px;
        }
        &:nth-child(3){
          margin-top: 110px;
        }
        &:nth-child(6){
          margin-top: 110px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .top-banner{
    background: url('../img/banner2d.jpg') no-repeat 60% 100%;
    background-size: cover;
    .slider-banner{
      .slide-info{
        padding-top: 105px;
        padding-bottom: 220px;
        h3{
          max-width: 350px;
        }
        h5{
          max-width: 350px;
          margin-bottom: 60px;
        }
        .gradient-button{
          margin: 0;
        }
      }
    }
  }
  .work-with-him{
    padding-top: 55px;
    .six-category{
      max-width: 70%;
    }
  }
}

@media (min-width: 1024px) {
  .slick-dots{
    bottom: 15%;
  }
  .top-banner{
    background-position: 55% 100%;
    .slider-banner{
      .slick-arrow{
        bottom: 38%;
      }
      .slick-prev{
        left: -7%;
      }
      .slide-info{
        padding-top: 109px;
        padding-bottom: 200px;
        h3{
          font-size: 46px;
          max-width: 600px;
          margin-bottom: 60px;
        }
        h5{
          font-size: 24px;
          max-width: 600px;
        }
      }
    }
  }
  .work-with-him{
    padding-top: 55px;
    padding-bottom: 55px;
    &:after{
      background: url('../img/men.png') no-repeat;
      height: 100%;
      left: -20%;
    }
    .six-category{
      max-width: 75%;
      width: 100%;
      .one-category{
        max-width: 200px;
        .top{
          &:before{
            right: 50%;
          }
        }
      }
    }
  }
  .how-we-work{
    margin-bottom: 105px;
    .mob-view{
      display: none;
    }
    .desc-view{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .left-part{
        width: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .block-man{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          height: 112px;
          box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
          border-radius: 29px;
          background-image: linear-gradient(to right, #3a5da8 0%, #3a5da8 5%, #8d9fc6 100%);
          margin-bottom: -1px;
          position: relative;
          &:before{
            background: url('../img/line6.png') no-repeat 50% 50%;
            background-size: contain;
            width: 250px;
            height: 18px;
            left: 200px;
            content: '';
            position: absolute;
          }
        }
        .block-logo{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 230px;
          height: 121px;
          box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
          border-radius: 29px;
          border: 2px solid #3a5da8;
          position: relative;
          &:before, &:after{
            content: '';
            position: absolute;
          }
          &:before{
            top: 0;
            bottom: 0;
            margin: auto;
            left: 230px;
            height: 2px;
            width: 45px;
            background-color: #dededf;
          }
          &:after{
            background: url('../img/line02.png') no-repeat 50% 50%;
            background-size: contain;
            width: 170px;
            height: 220px;
            left: 275px;
            top: -95px;
          }
        }
      }
      .right-part{
        width: 100%;
        .top-block{
          margin: 20px  auto 30px;
          width: 200px;
          height: 65px;
          box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
          border-radius: 33px;
          background-color: #ffffff;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &:before{
            background: url('../img/line7.png') no-repeat 50% 50%;
            background-size: contain;
            content: '';
            height: 105px;
            position: absolute;
            left: 200px;
            top: 55px;
            bottom: 0;
            margin: auto;
            width: 165px;
          }
          p{
            color: #333333;
            font-size: 13px;
            font-weight: 400;
          }
        }
        .bottom-block{
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          .left-inf-part{
            width: 100%;
            .text{
              width: 200px;
              height: 65px;
              box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
              border-radius: 33px;
              background-color: #ffffff;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              p{
                color: #333333;
                font-size: 13px;
                font-weight: 400;
              }
            }
            .top{
              margin: 0 115px 135px auto;
              &:before{
                background-size: contain;
                background: url('../img/line8.png') no-repeat 50% 50%;
                content: '';
                position: absolute;
                top: 0;
                left: 200px;
                bottom: 0;
                margin: auto;
                height: 18px;
                width: 115px;  
              }
            }
            .bot-i{
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 35px;
              .text{
                position: relative;
                &:before{
                  content: '';
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  left: 200px;
                }
                &:first-of-type{
                  margin-right: 55px;
                  &:before{
                    width: 55px;
                    height: 18px;
                    background: url('../img/line03.png') no-repeat 50% 50%;
                    background-size: contain;
                  }
                }
                &:last-of-type{
                  &:before{
                    width: 20px;
                    height: 2px;
                    background: #dededf;
                  }
                }
              }
            }
          }
          .right-inp-part{
            width: 100px;
            .one-blue{
              width: 100px;
              height: 65px;
              box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
              border-radius: 29px;
              background-image: linear-gradient(to right, #3a5da8 0%, #3a5da8 5%, #8d9fc6 100%);
              display: flex;
              align-items: center;
              justify-content: center;
              &:first-of-type{
                margin-bottom: 130px;
              }
            }
          }
        }
      }
    }
  }
  .first{
    margin-bottom: 130px;
  }
  .saved-money-time{
    h2{
      margin-bottom: 60px;
    }
    .eight-blocks{
      padding-bottom: 110px;
      &:before{
        top: 0;
        height: 75%;
      }
      .all-bl8{
        .one-block{
          max-width: 200px;
          width: 100%;
          margin-bottom: 90px;
          .icon{
            max-width: 100px;
            i{
              font-size: 54px;
            }
            img{
              max-width: 54px;
            }
          }
        }
      }
    }
  }
  .saved-money-time{
    margin-bottom: 0;
  }
  .our-clients{
    h2{
      margin-bottom: 60px;
    }
  }
}

@media (min-width: 1280px) {
  main{
    padding-bottom: 0;
  }
  .all{
    margin-top: -76px;
    margin-bottom: 105px;
  }
  .last{
    margin-top: 0;
  }
  .top-banner{
    .slider-banner{
      .slide-info{
        h3{
          max-width: 615px;
        }
      }
    }
  }
  .work-with-him{
    &:after{
      left: -10%;
    }
    h2{
      margin-bottom: 55px;
    }
    .six-category{
      max-width: 780px;
      .one-category{
        max-width: 215px;
        p{
          font-size: 18px;
        }
      }
    }
  }
  .how-we-work{
    .desc-view{
      .left-part{
        width: 270px;
        .block-logo{
          width: 270px;
          &:before{
            left: 270px;
            width: 71px;
          }
          &:after{
            left: 340px;
            width: 175px;
            top: -60px;
          }
        }
        .block-man{
          width: 230px;
          &:before{
            left: 230px;
            width: 315px;
          }
        }
      }
      .right-part{
        .top-block{
          width: 250px;
          margin-bottom: 63px;
          margin-right: 313px;
          &:before{
            left: 250px;
            top: 85px;
            width: 300px;
          }
          p{
            font-size: 14px;
          }
        }
        .bottom-block{
          .left-inf-part{
            .top{
              margin-right: 210px;
              &:before{
                left: 250px;
                width: 210px;
              }
            }
            .text{
              width: 250px;
              p{
                font-size: 14px;
              }
            }
            .bot-i{
              margin-left: 75px;
              .text{
                &:first-of-type{
                  &:before{
                    left: 250px;
                  }
                }
                &:last-of-type{
                  &:before{
                    width: 40px;
                    left: 250px;
                  }
                }
              }
            }
          }
          .right-inp-part{
            .one-blue{
              width: 170px;
            }
          }
        }
      }
    }
  }
  .saved-money-time{
    .eight-blocks{
      .all-bl8{
        .one-block{
          max-width: 250px;
          .icon{
            min-height: 72px;
          }
          h6{
            padding: 0 50px;
          }
          .numb{
            width: 46px;
            height: 46px;
            line-height: 46px;
            left: 20px;
            top: -23px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .our-clients{
    margin-bottom: 125px;
    .slider-clients{
      padding-bottom: 0;
      .slick-arrow{
        top: 0%;
        margin: auto;
      }
      .slick-next{
        left: 100%;
      }
      .slick-prev{
        left: auto;
        right: 100%;
      }
    }
  }
  .how-we-work{
    h2{
      margin-bottom: 60px;
    }
  }
}

@media (min-width: 1400px) {
  .slick-dots{
    bottom: 20%;
  }
  .top-banner{
    .slider-banner{
      .slick-next{
        right: -5%;
      }
    }
  }
  .work-with-him{
    padding-top: 95px;
    padding-bottom: 95px;
    &:after{
      width: 780px;
      height: 743px;
      left: -5%;
    }
  }
  .how-we-work{
    .desc-view{
      .left-part{
        width: 320px;
        .block-logo{
          width: 320px;
          &:before{
            left: 320px;
          }
          &:after{
            left: 389px;
          }
        }
      }
      .right-part{
        .top-block{
          width: 258px;
          margin-right: 345px;
          &:before{
            left: 262px;
            top: 80px;
            width: 265px;
          }
        }
        .bottom-block{
          .left-inf-part{
            .top{
              margin-right: 135px;
              &:before{
                width: 135px;
              }
            }
            .bot-i{
              margin-left: 80px;
              .text{
                &:first-of-type{
                  margin-right: 25px;
                  &:before{
                    width: 25px;
                  }
                }
                &:last-of-type{
                  margin-right: 5px;
                  &:before{
                    width: 15px;
                  }
                }
              }
            }
          }
          .right-inp-part{
            width: 210px;
            .one-blue{
              width: 210px;
            }
          }
        }
      }
    }
  }
  .saved-money-time{
    .eight-blocks{
      .all-bl8{
        .one-block{
          max-width: 280px;
          h6{
            font-size: 18px;
          }
          .icon{
            &:before{
              width: 52px;
              height: 52px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .review-about-us{
    .all-rev{
      .slider-review{
        .slick-prev{
          left: -35%;
        }
        .slick-next{
          left: -24%;
        }
      }
    }
  }
  .work-with-him{
    &:after{
      left: 3%;
    }
  }
  .saved-money-time{
    .eight-blocks{
      .all-bl8{
        .one-block{
          max-width: 295px;
        }
      }
    }
  }
  .how-we-work{
    .desc-view{
      .left-part{
        width: 363px;
        .block-logo{
          width: 363px;
          &:before{
            left: 363px;
          }
          &:after{
            left: 431px;
          }
        }
        .block-man{
          &:before{
            width: 311px;
          }
        }
      }
      .right-part{
        .top-block{
          margin-right: 415px;
          &:before{
            top: 80px;
            width: 310px;
            left: 260px;
          }
        }
        .bottom-block{
          .left-inf-part{
            .top{
              margin-right: 210px;
              margin-bottom: 143px;
              &:before{
                width: 211px;
              }
            }
            .bot-i{
              margin-left: 120px;
              .text{
                &:first-of-type{
                  margin-right: 53px;
                  &:before{
                    width: 53px;
                  }
                }
                &:last-of-type{
                  margin-right: 33px;
                  &:before{
                    width: 33px;
                  }
                }
              }
            }
          }
          .right-inp-part{
            .one-blue{
              &:first-of-type{
                margin-bottom: 143px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1800px) {
  .work-with-him{
    &:after{
      left: 7%;
    }
  }
}