main{
  overflow: hidden;
}
footer{
  z-index: 5;
}

.datepickers-container{
  top: -10px;
}
.datepicker--day-name{
  color: #333333;
  margin-bottom: 20px;
}
.datepicker--cell-day{
  color: #8d9fc6;
  border-radius: 50%;
}
.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-{
  background-color: #8d9fc6 !important;
  color: #fefefe;
}
.-selected-{
  background-color: #8d9fc6 !important;
  color: #fefefe;
}
.datepicker{
  border-radius: 23px;
  border: none;
}
.datepicker--pointer{
  display: none;
}
.slick-arrow{
  width: 65px;
  height: 65px;
  background-color: #3a5da8;
  opacity: 0.5;
  border-radius: 50%;
  position: relative;
  border: none;
  transition: 0.5s;
  z-index: 10;
  &:before{
      content: '';
      width: 20px;
      height: 15px;
      background: url('../img/arrow1.png') no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
  }
  &:hover{
    opacity: 1;
  }
}
.slick-dots{
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10%;
  justify-content: center;
  li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px; 
    height: 21px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: 0.65s;   
    margin: 0 10px;
    button{
      width: 11px;
      height: 11px;
      background-color: #3a5da8;
      border-radius: 50%;
      border: none;
      transition: 0.5s;
    }
  }
  .slick-active{
    border: 1px solid #e94249;
    button{
      width: 9px;
      height: 9px;
      background-color: #e94249;
    }
  }
}
.top-banner{
  background: url('../img/banner-mob.jpg') no-repeat 60% 20%;
  background-size: cover;
  .slider-banner{
    .slick-arrow{
      position: absolute;
      bottom: 20%;
    }
    .slick-next{
      right: 0;
      transform: rotate(180deg);
    }
    .slick-prev{
      left: 0;
    }
    .slide-info{
      padding-top: 120px;
      padding-bottom: 195px;
      h3{
        margin-bottom: 25px;
        color: #333333;
        font-size: 27px;
        font-weight: 700;
      }
      h5{
        color: #333333;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 25px;
      }
    }
  } 
}

.all{
  margin-top: -35px;
  margin-bottom: 70px;
}

.our-services{
  margin-bottom: 30px;
  h2{
    margin-bottom: 30px;
  }
  .select{
    margin: 0 auto;
    width: 291px;
    height: 58px;
    margin-bottom: 30px;
    position: relative;
    img{
      position: absolute;
      right: 35px;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 10;
    }
    p{
      padding-left: 34px;
    }
    .showText{
      font-size: 15px;
      font-weight: 700;
      color: #ffffff;
      width: 291px;
      height: 58px;
      line-height: 58px;
      box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
      border-radius: 29px;
      background: #3a5da8;
      z-index: 5;
      position: relative;
    }
    div{
      box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
      border-radius: 0 0 29px 29px;
      background: #ffffff;
      z-index: 4;
      display: none;
      position: absolute;
      width: 291px;
      padding: 30px 0 10px;
      margin-top: -25px;
      .hiddenText {
        font-size: 15px;
        color: #8d9fc6;
        padding: 8px 5px 8px 34px;
      }
    }
  }
  .select-desc{
    display: none;
  }
  .all-block-info{
    position: relative;
    z-index: 2;
    .one-block{
      display: none;
      img{
        margin: 0 auto;
        max-width: 545px;
        margin-bottom: 30px;
        width: 100%;
        display: block;
      }
      .text{
        h5{
          font-weight: 700;
          color: #333333;
          font-size: 18px;
          margin-bottom: 30px;
        }
        p{
          color: #333333;
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
          margin-bottom: 35px;
        }
      }
    }
    .sh{
      display: block;
    }
  }
}

.work-with-him{
  background: url('../img/back-work-with.jpg') no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 345px;
  overflow: hidden;
  position: relative;
  &:after{
    z-index: 1;
    content: '';
    position: absolute;
    left: -0%;
    bottom: 0;
    background: url('../img/men-mob.png') no-repeat;
    background-size: contain !important;
    width: 100%;
    height: 400px;
  }
  h2{
    margin-bottom: 40px;
  }
  .six-category{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    .one-category{
      max-width: 125px;
      width:100%;
      position: relative;
      &:before{
        content: '';
        width: 11px;
        height: 12px;
        background-color: #e94249;
        position: absolute;
        top: 45px;
        left: 115px;
        border-radius: 50%;
      }
      &:nth-child(even){
        margin-top: 50px;
      }
      .top{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: 20px;
        position: relative;
        &:before{
          content: '';
          width: 52px;
          height: 52px;
          background-color: #dfdfdf;
          position: absolute;
          z-index: 1;
          border-radius: 50%;
          left: 0;
          right: 15%;
          bottom: 0;
          margin: auto;
        }
        .number{
          font-size: 36px;
          color: #dfdfdf;
          font-weight: 700;
          z-index: 2;
        }
        img{
          position: relative;
          z-index: 2;
        }
      }
      p{
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }
}

.review-about-us{
  padding-top: 65px;
  padding-bottom: 65px;
  position: relative;
  &:before{
    top: 0;
    right: 0;
    position: absolute;
    content: '';
    width: 176px;
    height: 144px;
    background: url('../img/rev-mob.png') no-repeat;
    background-size: contain ;
  }
  h2{
    padding-bottom: 35px;
    position: relative;
    &:before{
      content: '';
      width: 73px;
      height: 56px;
      left: 0;
      top: 0;
      position: absolute;
      z-index: -1;
      background: url('../img/covich.png') no-repeat;
      background-size: contain;
    }
  }
  .slider-review{
    margin-bottom: 100px;
    .slick-arrow{
      position: absolute;
      bottom: -50px;
      background-color: #dfdfdf;
      opacity: 1;
      &:before{
        background: url('../img/arrow1gr.png') no-repeat 50% 50%;
      }
      &:after{
        content: '';
        width: 20px;
        height: 15px;
        background: url('../img/arrow1.png') no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -10;
        opacity: 0;
      }
      &:hover{
        background-color: #8d9fc6;
        &:before{
          z-index: -10;
          opacity: 0;
        }
        &:after{
          opacity: 1;
          z-index: 2;
        }
      }
    }
    .slick-next{
      right: 0;
      transform: rotate(180deg);
      right: 20%;
    }
    .slick-prev{
      left: 20%;
    }
    .one-rev{
      margin-bottom: 35px;
      .text{
        margin: 0 auto;
        max-width: 270px;
        width: 100%;
        box-shadow: 0 15px 10px 1px rgba(56, 56, 56, 0.1);
        background-color: #ffffff;
        padding: 20px 15px 35px;
        border-radius: 20px;
        position: relative;
        margin-bottom: 25px;
        &:before{
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-top-color: #ffffff;
          border-width: 15px;
          margin-left: -115px;
        }
        p{
          color: #333333;
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
        }
      }
      .name{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 15px;
        margin: 0 auto;
        max-width: 270px;
        width: 100%;
        img{
          max-width: 55px;
          width: 100%;
          border-radius: 50%;
          margin-right: 35px;
        }
        div{
          h5{
            font-weight: 500;
            font-size: 15px;
            color: #333333;
          }
          h6{
            font-size: 12px;
            font-weight: 400;
            color: #333333;
          }
        }
      }
    }
  }
}

.calculation{
  padding-top: 45px;
  padding-bottom: 65px;
  background: url('../img/back-calc.jpg') no-repeat 50%;
  background-size: cover;
  h2{
    margin-bottom: 60px;
  }
  form{
    .fieldset{
      margin: 0;
      padding: 0;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      label{
        color: #333333;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 20px;
        display: block;
      }
      .inp{
        margin: 0 auto;
        margin-bottom: 30px;
        position: relative;
        max-width: 290px;
        input{
          width: 290px;
          height: 58px;
          line-height: 58px;
          border-radius: 29px;
          border: 1px solid #8d9fc6;
          padding: 0 40px 0 20px;
          background: transparent;
        }
        .abs-img{
          position: absolute;
          bottom: 17px;
          right: 17px;
        }
      }
      .all-sel2{
        margin: 0 auto;
          max-width: 290px;
          width: 100%;
        .select2{
          height: 58px;
          line-height: 58px;
          border-radius: 29px;
          background-color: #ffffff;
          position: relative;
          margin-bottom: 30px;
          img{
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 20px;
          }
          p{
            padding-left: 30px;
          }
          .showText2{
            line-height: 58px;
          }
          .sel2{
            margin-top: -22px;
            width: 290px;
            display: none;
            background: #ffffff;
            padding-top: 15px;
            position: absolute;
            z-index: 6;
            border-radius: 0 0 23px 23px;
            p{
              color: #8d9fc6;
              font-size: 15px;
              font-weight: 400;
              padding: 8px 5px 8px 30px;
            }
          }
        }
      }
      .all-quantity{
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 290px;
        width: 100%;
        margin-bottom: 30px;
        .one-quan{
          h5{
            color: #383838;
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 25px;
          }
          .func{
            display: flex;
            align-items: center;
            justify-content: center;
            button{
              width: 51px;
              height: 54px;
              border-radius: 22px;
              border: 1px solid #8d9fc6;
              text-align: center;
              background: transparent;
              color: #929292;
              font-size: 18px;
            }
            input{
              border: none;
              background: none;
              color: #333333;
              font-size: 14px;
              font-weight: 400;
              width: 30px;
              text-align: center;
            }
          }
        }
      }
      .data-time{
        margin: 0 auto;
        max-width: 290px;
        width: 100%;
        margin-bottom: 30px;
        label{
          width: 100%;
        }
        .dates{
          position: relative;
          max-width: 199px;
          width: 100%;
          height: 59px;
          margin-bottom: 30px;
          img{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 20px;
            margin: auto;
          }
          .date{
            width: 199px;
            height: 59px;
            border-radius: 23px;
            border: 1px solid #8d9fc6;
            background: transparent;
            padding-left: 20px;
            color: #333333;
          }
        }
        .sel-time{
          position: relative;
          max-width: 146px;
          img{
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 15px;
          }
          p{
            padding-left: 20px;
          }
          .showText3{
            line-height: 59px;
            width: 146px;
            height: 59px;
            border-radius: 23px;
            border: 1px solid #8d9fc6;
            z-index: 5;
            position: relative;
            img{
              position: absolute;
              top: 0;
              bottom: 0;
              right: 10px;
              margin: auto;
            }
          }
          .sel3{
            width: 146px;
            display: none;
            border-radius: 0 0 29px 29px;
            background: #ffffff;
            padding-top: 25px;
            margin-top: -25px;
            z-index: 4;
            position: absolute;
            p{
              padding: 5px 5px 5px 20px;
            }
          }
        }
        .open-sel{
          .showText3{
            background: #ffffff;
          }
        }
      }
      .primechanie{
        margin: 0 auto;
        max-width: 290px;
        width: 100%;
        color: #e94249;
        font-size: 12px;
        font-weight: 700;
        text-decoration: underline;
        display: block;
        margin-bottom: 30px;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
          color: #3a5da8;
        }
      }
    }
  }
}


@media (min-width: 405px) {
  .top-banner{
    .slider-banner{
      .slide-info{
        padding-top: 200px;
      }
    }
  }
  .work-with-him{
    .six-category{
      justify-content: space-around;
      .one-category{
        margin-right: 30px;
      }
    }
  }
}

@media (min-width: 495px) {
  .top-banner{
    background-position: 60% 15%;
    .slider-banner{
      .slide-info{
        padding-top: 270px;
      }
    }
  }
  .work-with-him{
    padding-bottom: 10px;
    &:after{
      z-index: 0;
    }
    .six-category{
      justify-content: space-between;
      max-width: 60%;
      margin-left: auto;
      position: relative;
      z-index: 2;
      .one-category{
        margin-right: 0;
      }
    }
  }
  .review-about-us{
    .slider-review{
      .one-rev{
        .text{
          max-width: 400px;
          padding: 25px 25px 50px 25px;
          box-shadow: 0 22px 27px 1px rgba(56, 56, 56, 0.1);
        }
        .name{
          max-width: 355px;
        }
      }
    }
  }
}

@media (min-width: 655px){
  .work-with-him{
    padding-bottom: 40px;
    &:after{
      height: 520px;
    }
    .six-category{
      max-width: 65%;
      .one-category{
        &:nth-child(even){
          margin-top: 0;
        }
        &:nth-child(2){
          margin-top: 55px;
        }
        &:nth-child(5){
          margin-top: 55px;
        }
        &:nth-child(3){
          margin-top: 110px;
        }
        &:nth-child(6){
          margin-top: 110px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .top-banner{
    background: url('../img/top-banner-desc.png') no-repeat 75% 100%;
    background-size: cover;
    .slider-banner{
      .slide-info{
        padding-top: 105px;
        padding-bottom: 220px;
        h3{
          max-width: 350px;
        }
        h5{
          max-width: 350px;
          margin-bottom: 60px;
        }
        .gradient-button{
          margin: 0;
        }
      }
    }
  }
  .work-with-him{
    padding-top: 55px;
    .six-category{
      max-width: 70%;
    }
  }
  .review-about-us{
    .slider-review{
      .one-rev{
        .text{
          max-width: 455px;
        }
      }
    }
  }
  .calculation{
    form{
      .fieldset{
        label{
          min-height: 13px;
        }
        .inp{
          margin: 0;
          margin-bottom: 30px;
        }
        .all-sel2{
          margin: 0;
        }
        .all-quantity{
          margin: 0;
          margin-bottom: 30px;
        }
        .data-time{
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          max-width: 374px;
          margin: 0;
          .dates{
            margin-right: 10px;
            margin-bottom: 0;
          }
        }
        .primechanie{
          max-width: 200px;
          margin: 0;
          margin-top: 20px;
        }
      }
      .but{
        margin-top: 30px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .slick-dots{
    bottom: 15%;
  }
  .top-banner{
    background-position: 71% 100%;
    .slider-banner{
      .slick-arrow{
        bottom: 38%;
      }
      .slick-prev{
        left: -7%;
      }
      .slide-info{
        padding-top: 109px;
        padding-bottom: 200px;
        h3{
          font-size: 46px;
          max-width: 600px;
          margin-bottom: 60px;
        }
        h5{
          font-size: 24px;
          max-width: 600px;
        }
      }
    }
  }
  .work-with-him{
    padding-top: 55px;
    padding-bottom: 55px;
    &:after{
      background: url('../img/men.png') no-repeat;
      height: 100%;
      left: -20%;
    }
    .six-category{
      max-width: 75%;
      width: 100%;
      .one-category{
        max-width: 200px;
        .top{
          &:before{
            right: 50%;
          }
        }
      }
    }
  }
  .review-about-us{
    overflow: hidden;
    &:before{
      width: 595px;
      height: 438px;
      background: url('../img/rev-desc.png') no-repeat;
      top: -7%;
      right: -5%;
    }
    h2{
      max-width: 190px;
      margin-right: auto;
      text-align: left;
      &:before{
        width: 107px;
        height: 83px;
        background-size: contain;
        right: -12%;
        left: auto;
        top: 3%;
      }
    }
    .slider-review{
      .slide-info{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .one-rev{
          max-width: 45%;
          .text{
            min-height: 219px;
            min-width: 388px;
            &:before{
              margin-left: -155px;
            }
          }
        }
      }
    }
  }
  .our-services{
    margin-bottom: 100px;
    h2{
      margin-bottom: 65px;
    }
    .all-block-info{
      .one-block{
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;
        img{
          margin: 0;
          margin-right: 75px;
          width: auto;
          max-width: 50%;
        }
        .text{
          max-width: 439px;
          width: 100%;
        }
        .white-button{
          margin: 0;
        }
      }
      .sh{
        display: flex;
      }
    }
  }
}

@media (min-width: 1280px) {
  .all{
    margin-top: -76px;
    margin-bottom: 105px;
  }
  .top-banner{
    .slider-banner{
      .slide-info{
        h3{
          max-width: 615px;
        }
      }
    }
  }
  .our-services{
    margin: 0 auto;
    max-width: 1065px;
    width: 100%;
    margin-bottom: 100px;
    .select{
      display: none;
    }
    .select-desc{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 65px;
      p{
        border: 1px solid #8d9fc6;
        color: #8d9fc6;
        font-size: 16px;
        width: 207px;
        height: 58px;
        line-height: 58px;
        border-radius: 29px;
        padding: 0;
        text-align: center;
        transition: 0.5s;
        cursor: pointer;
      }
      .active{
        box-shadow: 0 14px 27px 1px rgba(56, 56, 56, 0.2);
        border-radius: 29px;
        background-color: #3a5da8;
        font-weight: 700;
        color: #ffffff;
      }
    }
    .block {
      display: none;
    }
    .all-block-info{
      .sh{
        display: none;
      }
    }
    .first-show {
      .first {
        display: flex;
      }
    }
    .second-show {
      .second {
        display: flex;
      }
    }
    .third-show {
      .third {
        display: flex;
      }
    }
    .fourth-show {
      .fourth {
        display: flex;
      }
    }
    .fifth-show {
      .fifth {
        display: flex;
      }
    }
  }
  .work-with-him{
    &:after{
      left: -10%;
    }
    h2{
      margin-bottom: 55px;
    }
    .six-category{
      max-width: 780px;
      .one-category{
        max-width: 215px;
        p{
          font-size: 18px;
        }
      }
    }
  }
  .review-about-us{
    padding-top: 106px;
    padding-bottom: 107px;
    .all-rev{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      .red-button{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 230px;
      }
      .slider-review{
        max-width: 850px;
        margin-bottom: 0;
        .slick-arrow{
          bottom: auto;
          top: 40%;
        }
        .slick-prev{
          left: -27%;
        }
        .slick-next{
          right: auto;
          left: -10%;
        }
        .one-rev{
          margin-bottom: 0;
          .text{
            box-shadow: 0 22px 17px 1px rgba(56,56,56,.1);
            padding-bottom: 70px;
            padding-top: 30px;
            margin-bottom: 40px;
            min-height: 269px;
            p{
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .calculation{
    padding-top: 105px;
    padding-bottom: 125px;
    h2{
      strong{
        display: block;
      }
    }
    form{
      .but{
        margin-top: 55px;
      }
      .fieldset{
        justify-content: space-between;
        &:first-of-type{
          margin-bottom: 20px;
        }
        .inp{
          input{
            width: 278px;
          }
        }
        .all-sel2{
          max-width: 278px;
          .select2{
            .sel2{
              max-width: 278px;
              width: 100%;
              p{
                padding-top: 0;
                padding-bottom: 0;
              }
            }
          }
        }
        .data-time{
          margin-bottom: 30px;
          max-width: 355px;
        }
        .primechanie{
          margin-top: 0;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .slick-dots{
    bottom: 20%;
  }
  .top-banner{
    .slider-banner{
      .slick-next{
        right: -5%;
      }
    }
  }
  .work-with-him{
    padding-top: 95px;
    padding-bottom: 95px;
    &:after{
      width: 780px;
      height: 743px;
      left: -5%;
    }
  }
  .review-about-us{
    .all-rev{
      .slider-review{
        max-width: 945px;
        width: 100%;
        .slick-prev{
          left: -24%;
        }
        .one-rev{
          max-width: 440px;
          .text{
            min-width: 440px;
            &:before{
              margin-left: -200px;
            }
          }
          .name{
            margin: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .review-about-us{
    .all-rev{
      .slider-review{
        .slick-prev{
          left: -35%;
        }
        .slick-next{
          left: -24%;
        }
      }
    }
  }
  .work-with-him{
    &:after{
      left: 3%;
    }
  }
}

@media (min-width: 1800px) {
  .work-with-him{
    &:after{
      left: 7%;
    }
  }
}