<div class="all">
  <div class="container">
    <div class="all-bef big">
      <div class="contact-menedg">
        <img src="img/phone-menedg.png" alt="" class="phone">
        <h3>Связаться с менеджером</h3>
        <h5>Не теряйте время и деньги впустую. Звоните сейчас!</h5>
        <form action="">
          <input type="text" placeholder="Имя" class="inp">
          <input type="text" placeholder="Телефон" class="inp">
          <input type="email" placeholder="E-mail" class="inp">
          <div class="check">
            <input type="checkbox" id="check1" checked>
            <label for="check1">
              <p>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с <span>Политикой Конфиденциальности</span></p>
            </label>
          </div>
          <a href="javascript:void(0)" class="red-button">Заказать звонок</a>
        </form>
      </div>
    </div>
  </div>
</div>