<footer class="footer">
  <div class="container">
    <div class="all-footer">
      <div class="left-part">
        <a href="index.html" class="logo">
          <img src="img/logo2.png" alt="">
        </a>
        <p class="pay-online">Оплата онлайн</p>
        <div class="phone">
          <a href="tel:7 (812) 209-00-09">7 (812) 209-00-09</a>
          <span>Бесплатный вызов по России</span>
        </div>
        <div class="mail">
          <img src="img/email.png" alt="">
          <a href="mailto:'1@rabotnikof.ru'">1@rabotnikof.ru</a>
        </div>
        <div class="social">
          <a href="#">
            <i class="icon-odnoklassniki"></i>
          </a>
          <a href="#">
            <i class="icon-twitter"></i>
          </a>
          <a href="#">
            <i class="icon-vk"></i>
          </a>
          <a href="#">
            <i class="icon-instagram"></i>
          </a>
          <a href="#">
            <i class="icon-facebook"></i>
          </a>
        </div>
      </div>
      <div class="right-part">
        <nav>
          <ul class="nv">
            <li><a href="all-services.html">Услуги</a></li>
            <li><a href="one-service.html">Уборка квартир</a></li>
            <li><a href="one-service-master.html">Переезд</a></li>
          </ul>
          <ul class="nv">
            <li><a href="one-service-master.html">Грузчики и разнорабочие</a></li>
            <li><a href="one-service-master.html">Мастера</a></li>
            <li><a href="reviews.html">Отзывы</a></li>
          </ul>
          <ul class="nv">
            <li><a href="vacancies.html">Вакансии</a></li>
            <li><a href="discount.html">Акции</a></li>
            <li><a href="contact.html">Контакты</a></li>
          </ul>
          <ul class="recv">
            <li class="title"><a href="javascript:void(0)">Реквизиты</a></li>
            <li><a href="">Скачать без НДС (.pdf)</a></li>
            <li><a href="">Скачать с НДС (.pdf)</a></li>
          </ul>
        </nav>
        <div class="cont-man">
          <h3>Связаться с менеджером</h3>
          <h4>Не теряйте время и деньги впустую. Звоните сейчас!</h4>
          <form action="">
            <input type="text" placeholder="Имя" class="inp">
            <input type="number" placeholder="Телефон" class="inp">
            <div class="check">
              <input type="checkbox" name="contact" id="Ur" checked>
              <label for="Ur">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с <span class="open-politic">Политикой Конфиденциальности</span></label>
            </div>
            <a href="javascript:void(0)" class="red-button open-accept">Заказать звонок</a>
          </form>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <p><a href="javascript:void(0)" class="open-politic">Политика обработки персональных данных</a></p>
      <p>© 2020 г., ООО «Рабочие.рф»</p>
      <p>Разработано в <a href="#">"Студия Племя"</a></p>
    </div>
  </div>
</footer>