<header class="header">
  <div class="burger-menu">
    <a href="javascript:void(0)" class="close-burg">
      &times;
    </a>
    <div class="content-top">
      <div class="city">
        <div class="top">
          <i class="icon-pin"></i>
          <p class="showText-city">Санкт Петербург</p>
          <i class="icon-arrow"></i>
        </div>
        <div class="blockP">
          <ul>
            <li class="hiddenText-city">Санкт Петербург1</li>
            <li class="hiddenText-city">Санкт Петербург2</li>
            <li class="hiddenText-city">Санкт Петербург3</li>
          </ul>
          <ul>
            <li class="hiddenText-city">Санкт Петербург</li>
            <li class="hiddenText-city">Санкт Петербург</li>
            <li class="hiddenText-city">Санкт Петербург</li>
          </ul>
          <ul>
            <li class="hiddenText-city">Санкт Петербург</li>
            <li class="hiddenText-city">Санкт Петербург</li>
            <li class="hiddenText-city">Санкт Петербург</li>
          </ul>
          <ul>
            <li class="hiddenText-city">Санкт Петербург</li>
            <li class="hiddenText-city">Санкт Петербург</li>
            <li class="hiddenText-city">Санкт Петербург</li>
          </ul>
        </div>
      </div>
      <div class="circle">
        <i class="icon-ruble"></i>
      </div>
    </div>
    <div class="content-nav">
      <ul>
        <li class="with-services">
          <div class="lin">
            <a href="javascript:void(0)">Услуги</a>
            <i class="icon-arrow"></i>
          </div>
          <div class="big-nav">
            <ol>
              <h5>Перевозка</h5>
              <li><a href="">Перевозка бытовой техники</a></li>
              <li><a href="">Междугородние перевозки</a></li>
              <li><a href="">Автоперевозки</a></li>
              <li><a href="">Перевозка холодильника</a></li>
              <li><a href="">Перевозка стройматериалов</a></li>
              <li><a href="">Перевозка пианино</a></li>
              <li><a href="">Перевозка стиральной машины</a></li>
              <li><a href="">Перевозка дивана</a></li>
              <li><a href="">Перевозка велосипеда</a></li>
              <li><a href="">Перевозка шкафа</a></li>
              <li><a href="">Грузовые перевозки</a></li>
              <li><a href="">Сборные грузы</a></li>
              <li><a href="">Температурные перевозки</a></li>
              <li><a href="">Крупнотоннажные перевозки</a></li>
            </ol>
            <ol>
              <h5>Переезды</h5>
              <li><a href="">Офисный переезд</a></li>
              <li><a href="">Дачный переезд</a></li>
              <li><a href="">Дачный переезд с грузчиками</a></li>
              <li><a href="">Квартирный переезд с грузчиками</a></li>
            </ol>
            <ol>
              <h5>Переезды</h5>
              <li><a href="">Офисный переезд</a></li>
              <li><a href="">Дачный переезд</a></li>
              <li><a href="">Дачный переезд с грузчиками</a></li>
              <li><a href="">Квартирный переезд с грузчиками</a></li>
            </ol>
            <ol>
              <h5>Грузчики</h5>
              <li><a href="">Услуги грузчиков</a></li>
              <li><a href="">Подъём на этаж</a></li>
              <li><a href="">Грузчик на час</a></li>
              <li><a href="">Подъём мебели на этаж</a></li>
              <li><a href="">Перевозка техники с грузчиками</a></li>
            </ol>
          </div>
        </li>
        <li><a href="">Уборка квартир</a></li>
        <li><a href="">Переезд</a></li>
        <li><a href="">Грузчики и разнорабочие</a></li>
        <li><a href="">Мастера</a></li>
        <li><a href="">Новости</a></li>
        <li><a href="">Блог</a></li>
        <li><a href="">Отзывы</a></li>
        <li><a href="">Вакансии</a></li>
        <li><a href="">Акции</a></li>
        <li><a href="">Контакты</a></li>
      </ul>
      <hr>
      <a href="index2.html" class="link-index2">Юридическим лицам</a>
      <div class="all-links-soc">
        <a href="#">
          <i class="icon-odnoklassniki"></i>
        </a>
        <a href="#">
          <i class="icon-twitter"></i>
        </a>
        <a href="#">
          <i class="icon-vk"></i>
        </a>
        <a href="#">
          <i class="icon-instagram"></i>
        </a>
        <a href="#">
          <i class="icon-facebook"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="top-header">
    <div class="container">
      <div class="top-mob">
        <div class="city">
          <div class="top">
            <i class="icon-pin"></i>
            <p class="showText-city">Санкт Петербург</p>
            <i class="icon-arrow"></i>
          </div>
          <div class="blockP">
            <ul>
              <li class="hiddenText-city">Санкт Петербург1</li>
              <li class="hiddenText-city">Санкт Петербург2</li>
              <li class="hiddenText-city">Санкт Петербург3</li>
            </ul>
            <ul>
              <li class="hiddenText-city">Санкт Петербург</li>
              <li class="hiddenText-city">Санкт Петербург</li>
              <li class="hiddenText-city">Санкт Петербург</li>
            </ul>
            <ul>
              <li class="hiddenText-city">Санкт Петербург</li>
              <li class="hiddenText-city">Санкт Петербург</li>
              <li class="hiddenText-city">Санкт Петербург</li>
            </ul>
            <ul>
              <li class="hiddenText-city">Санкт Петербург</li>
              <li class="hiddenText-city">Санкт Петербург</li>
              <li class="hiddenText-city">Санкт Петербург</li>
            </ul>
          </div>
        </div>
        <a href="index.html" class="logo">
          <img src="img/logo.png" alt="">
        </a>
        <div class="desc-button">
          <a href="index.html" class="top-but acti">Физическим лицам</a>
          <a href="index2.html" class="top-but">Юридическим лицам</a>
        </div>
        <div class="social">
          <h5>Соц сети:</h5>
          <div class="all-links-soc">
            <a href="#">
              <i class="icon-odnoklassniki"></i>
            </a>
            <a href="#">
              <i class="icon-twitter"></i>
            </a>
            <a href="#">
              <i class="icon-vk"></i>
            </a>
            <a href="#">
              <i class="icon-instagram"></i>
            </a>
            <a href="#">
              <i class="icon-facebook"></i>
            </a>
          </div>
        </div>
        <div class="phone">
          <a href="tel:7 (812) 209-00-09">7 (812) 209-00-09</a>
          <span>Бесплатный вызов по России</span>
        </div>
        <div class="menu-personal">
          <div class="circle">
            <i class="icon-ruble"></i>
          </div>
          <a href="javascript:void(0)" class="pers-area">
            <i class="icon-user"></i>
            <span>Личный кабинет</span>
          </a>
          <a href="javascript:void(0)" class="menu-burg">
            <i class="icon-burger"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-header">
    <div class="container">
      <div class="all-desc">
        <a href="index.html" class="logo desc">
          <img src="img/logo.png" alt="">
        </a>
        <nav>
          <ul>
            <li class="with-services">
              <div class="lin">
                <a href="javascript:void(0)">Услуги</a>
                <i class="icon-arrow"></i>
              </div>
              <div class="big-nav">
                <ol>
                  <h5>Перевозка</h5>
                  <li><a href="">Перевозка бытовой техники</a></li>
                  <li><a href="">Междугородние перевозки</a></li>
                  <li><a href="">Автоперевозки</a></li>
                  <li><a href="">Перевозка холодильника</a></li>
                  <li><a href="">Перевозка стройматериалов</a></li>
                  <li><a href="">Перевозка пианино</a></li>
                  <li><a href="">Перевозка стиральной машины</a></li>
                  <li><a href="">Перевозка дивана</a></li>
                  <li><a href="">Перевозка велосипеда</a></li>
                  <li><a href="">Перевозка шкафа</a></li>
                  <li><a href="">Грузовые перевозки</a></li>
                  <li><a href="">Сборные грузы</a></li>
                  <li><a href="">Температурные перевозки</a></li>
                  <li><a href="">Крупнотоннажные перевозки</a></li>
                </ol>
                <ol>
                  <h5>Переезды</h5>
                  <li><a href="">Офисный переезд</a></li>
                  <li><a href="">Дачный переезд</a></li>
                  <li><a href="">Дачный переезд с грузчиками</a></li>
                  <li><a href="">Квартирный переезд с грузчиками</a></li>
                </ol>
                <ol>
                  <h5>Переезды</h5>
                  <li><a href="">Офисный переезд</a></li>
                  <li><a href="">Дачный переезд</a></li>
                  <li><a href="">Дачный переезд с грузчиками</a></li>
                  <li><a href="">Квартирный переезд с грузчиками</a></li>
                </ol>
                <ol>
                  <h5>Грузчики</h5>
                  <li><a href="">Услуги грузчиков</a></li>
                  <li><a href="">Подъём на этаж</a></li>
                  <li><a href="">Грузчик на час</a></li>
                  <li><a href="">Подъём мебели на этаж</a></li>
                  <li><a href="">Перевозка техники с грузчиками</a></li>
                </ol>
              </div>
            </li>
            <li><a href="">Уборка квартир</a></li>
            <li><a href="">Переезд</a></li>
            <li><a href="">Грузчики и разнорабочие</a></li>
            <li><a href="">Мастера</a></li>
          </ul>
          <div class="more">
            <div class="mo">
              <span>Еще</span>
              <i class="icon-burger burg"></i>
              <p class="clos">&times;</p>
            </div>
            <ul class="hidden-more">
              <li><a href="">Новости</a></li>
              <li><a href="">Блог</a></li>
              <li><a href="">Отзывы</a></li>
              <li><a href="">Вакансии</a></li>
              <li><a href="">Акции</a></li>
              <li><a href="">Контакты</a></li>
            </ul>
          </div>
        </nav>
        <div class="block-phone">
          <a href="tel:7 (812) 209-00-09" class="phone">7 (812) 209-00-09</a>
          <span>Бесплатный вызов по России</span>
        </div>
      </div>

    </div>
  </div>

</header>