<div class="back-dark"></div>

<div class="pop-up vacancy">
  <button class="close-pop">
    <img src="img/close.png" alt="">
  </button>
  <div class="text">
    <h4>Водитель-экспедитор на авто сервиса</h4>
    <span class="caps">КОГО МЫ ИЩЕМ?</span>
    <p>"Наш водитель-экспедитор - лицо сервиса. Кто думает, что быть водителем -экспедитором "просто и не замысловато", тот ошибается. Потребуются знания, умения и многое другое - не каждому это дано". А. А. Гриднев, руководитель транспортного управления.</p>
    <span class="caps">ТРЕБОВАНИЯ</span>
    <ul>
      <li>Права категории «B»</li>
      <li>Опыт работы — не обязателен</li>
    </ul>
    <span class="caps">ОБЯЗАННОСТИ</span>
    <ul>
      <li>Перевозка малотоннажных грузов по Санкт-Петербургу и области</li>
      <li>Экспедирование</li>
    </ul>
    <span class="caps">УСЛОВИЯ</span>
    <ul>
      <li>Заработная плата от 60 000 рублей с ежедневными выплатами (оклад+%)</li>
      <li>При выполнении дополнительных услуг возможно увеличение ЗП от 90 000 руб.</li>
      <li>Полное техническое обслуживание автомобиля за счёт компании</li>
      <li>Удобный график работы (5/2, 6/1, 2/2, 3/3)</li>
      <li>Корпоративная цена на заправку газом у партнером ГЗС (21.40 руб/литр)</li>
      <li>Ежегодное обновление автопарка</li>
      <li>Постоянное обеспечение заказами</li>
      <li>Техническая поддержка</li>
    </ul>
    <div class="blu-text">
      <div class="one">
        <span class="caps">ТРЕБУЕМЫЙ ОПЫТ РАБОТЫ</span>
        <strong>не требуется</strong>
      </div>
      <div class="one">
        <span class="caps">УРОВЕНЬ ЗАРПЛАТЫ</span>
        <strong>от 60 000 руб.</strong>
      </div>
    </div>
    <a href="javascript:void(0)" class="gradient-button">Скачать анкету на вакансию</a>
    <form action="">
      <div class="file">
        <label for="file">Прикрепить резюме</label>
        <div class="file-inp">
          <label class="control-label">Select File</label>
          <input id="input-b1" name="input-b1" type="file" class="file" data-browse-on-zone-click="true">
        </div>
      </div>
      <div class="four-block">
        <div class="inp">
          <label for="name-p">Ваше имя</label>
          <input type="text" name="" id="name-p" placeholder="Представьтесь">
        </div>
        <div class="inp">
          <label for="email-p">Ваша почта</label>
          <input type="email" name="" id="email-p" placeholder="Введите e-mail">
        </div>
        <div class="inp">
          <label for="phone-p">Ваш телефон</label>
          <input type="number" name="" id="phone-p" placeholder="Введите телефон">
        </div>
        <a href="javascript:void(0)" class="red-button open-accept">Отправить резюме</a>
      </div>
      <div class="check">
        <input type="checkbox" id="check1" checked>
        <label for="check1">
          <p>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с <span class="politic open-politic">Политикой Конфиденциальности</span></p>
        </label>
      </div>
    </form>
  </div>
</div>

<div class="pop-up discount-pop">
  <button class="close-pop">
    <img src="img/close.png" alt="">
  </button>
  <h4>Открытое время</h4>
  <p>Нам удобно – вам выгодно! Когда есть время ждать, осуществим доставку в течение дня в период <strong>с 09: 00 до 21: 00. 500 Р за час.</strong></p>
  <div class="on-inf">
    <strong>500 Р</strong>
    <p>за час, вместо 890 руб</p>
  </div>
  <div class="on-inf">
    <strong>с 9 до 21</strong>
    <p>подача авто в интервале времени</p>
  </div>
  <div class="on-inf">
    <strong>12 часов</strong>
    <p>доставка груза в день забора</p>
  </div>
  <span>Срок проведения акции — с 01.01.2020 г. по 31.12.2020 г. Организатор акции: ООО «Круиз», ОГРН 1167847493835, юридический адрес: 192242, г Санкт-Петербург, улица Будапештская, дом 7 корпус 1 лит. А, помещение 1-Н</span>
  <div class="two-button">
    <input type="text" placeholder="Введите телефон">
    <a href="javascript:void(0)" class="red-button open-accept">Отправить </a>
  </div>
  <div class="check">
    <input type="checkbox" id="check1" checked>
    <label for="check1">
      <p>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с <span class="politic open-politic">Политикой Конфиденциальности</span></p>
    </label>
  </div>
</div>

<div class="pop-up primechanie-pop">
  <button class="close-pop">
    <img src="img/close.png" alt="">
  </button>
  <textarea placeholder="Введите сообщение"></textarea>
  <a href="javascript:void(0)" class="white-button send-primechanie">Отправить</a>
</div>

<div class="pop-up accept-pop ">
  <button class="close-pop">
    <img src="img/close.png" alt="">
  </button>
  <h4>Спасибо!</h4>
  <h4>Ваша заявка принята</h4>
  <p>Менеджер свяжется с Вами</p>
</div>

<div class="pop-up politic-pop">
  <button class="close-pop">
    <img src="img/close.png" alt="">
  </button>
  <h4>Политика конфиденциальности</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
  </ul>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
  </ul>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>